
*test*
*.vscode*
*.log
*vgcore*

#programs
megaphone
phonebook
accounts
zombie
reference
weapons
basicallySed
harl
harlfilter
fixedPointNumbers
bsp
clapTrap
scavTrap
fragTrap
diamondTrap
animals
inheritance
bureaucrat
convert
serialize
identify
templates
array
easyfind
span
btc

*_shrubbery

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
